includes:
    - vendor/phpstan/phpstan-phpunit/extension.neon
    - vendor/phpstan/phpstan-phpunit/rules.neon
    - vendor/phpstan/phpstan-strict-rules/rules.neon
    - vendor/jangregor/phpstan-prophecy/extension.neon
parameters:
    scanFiles:
        - %currentWorkingDirectory%/vendor/squizlabs/php_codesniffer/src/Util/Tokens.php
    bootstrapFiles:
        - %currentWorkingDirectory%/vendor/squizlabs/php_codesniffer/autoload.php
    level: 7
    paths:
        - FlaconiCodingStandard
        - tests
    excludes_analyse:
        - */tests/*/Data/*
        - */tests/bootstrap.php